<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel="tests" thread-count="6">
	<listeners>
		<listener class-name="testDemo.Listeners"></listener>
	</listeners>
  <test name="Personal Loan" parallel="classes" thread-count="2">
	  <parameter name="URL" value="personalloan.com"></parameter>
	  <parameter name="APIkey/userName" value="123456"></parameter>
    <classes>
      <class name="testDemo.TestDemoday1">
		  <methods>
			  <include name="demo"></include>
		  </methods>
	  </class>
      <class name="testDemo.TestDemoday2"/>
      <class name="testDemo.TestDemoday4"/>
    </classes>
  </test>
  <test name="Car Loan">
	  <parameter name="URL" value="carloan.com"></parameter>
	  <parameter name="APIkey/userName" value="123456"></parameter>
	  <classes>
		  <class name="testDemo.TestDemoday3">
			<methods>
				<exclude name="Api.*"></exclude>
			</methods>
		  </class>
	  </classes>
  </test>
</suite>